body{
    /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/img.jpeg); */
    background: #487eb0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

*{
    margin: 0px;
    padding: 0px;
}